<div class="container" style="overflow-x: hidden;">
    <!-- <div class="row"  *ngIf="showMsg">
        <div class="col-xs-12">
            <p class="alert alert-success" [innerHTML]="showDbMessage"></p>
        </div>
    </div> -->
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-scale" [fullScreen]="true">
        <p style="color: white">Loading... </p>
    </ngx-spinner>
    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-8 pl-2">
            <ul class="nav nav-pills nav-fill border">
                <li class="w-50">
                    <a [ngClass]="{'active':businesbool}" class="nav-link dev-radius" #businessTab (click)="sideBarToggle($event,'B')" [style.display]="'flex'"  data-toggle="tab" href="#business" role="tab" aria-controls="home" aria-selected="true">
                        <div class="nav-img"><i class="fa fa-address-book-o" aria-hidden="true"></i></div>
                        <div class="nav-text" translate>Business
                            <span style="word-wrap: break-word;display: block;" translate>Business_Register_as_service_provider</span>
                        </div>
                    </a>
                </li>
                <li class="w-50">
                    <a [ngClass]="{'active':individubool}" class="nav-link dev-radius" #individualTab (click)="sideBarToggle($event,'I')" [style.display]="'flex'"     data-toggle="tab" href="#individual" role="tab" aria-controls="home" aria-selected="true">
                        <div class="nav-img"><i class="fa fa-address-book-o" aria-hidden="true"></i></div>
                        <div class="nav-text" translate>Individual
                            <span style="word-wrap: break-word;display: block;" translate>Business_Register_as_service_provider</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div [ngClass]="{'active show':businesbool}" class="tab-pane fade dev-busi-pad pt-3 pb-3" id="business" role="tabpanel" aria-labelledby="business-tab">
                    <form id="submitBusiness" autocomplete="off" (keydown.enter)="$event.preventDefault()" [formGroup]="checkoutForm" (ngSubmit)="submitBusiness(checkoutForm.value)">
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label" translate>Business_owner</label>
                            <div class="col-lg-5 mb-2">
                                <input class="form-control form-control-sm" formControlName="first_name" type="text" placeholder="{{'First_name' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" value="">
                                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.first_name.errors.required">First Name is required</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <input class="form-control form-control-sm" formControlName="last_name" type="text" placeholder="{{'Last_name' | translate}}" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate>Business_name</label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="business_name" placeholder="{{'Business_name_p' | translate}}" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate>Contact_number</label>
                            <!-- <div class="col-lg-1 dev-pd-r0 mb-2">
                                <input class="form-control form-control-sm" [(ngModel)]="contactcode" formControlName="contactcode" placeholder="{{'Code' | translate}}" type="text" value="">
                            </div> -->
                            <div class="col-lg-10">
                                <!-- <input class="form-control form-control-sm" (keyup)="keyupmethod('B')"  formControlName="contactno" placeholder="{{'Phone_number' | translate}}" type="text" value="" [ngClass]="{ 'is-invalid': submitted && f.contactno.errors }"> -->
                                <!-- <div *ngIf="submitted && f.contactno.errors" class="invalid-feedback">
                                    <div *ngIf="f.contactno.errors.required">Contact number is required</div>
                                </div> -->
                                <ngx-intl-tel-input [cssClass]="'custom'" (keyup)="keyupmethod('B')" [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                                    [enablePlaceholder]="true" [searchCountryFlag]="true"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" 
                                    [selectedCountryISO]="CountryISO.Kuwait"  [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [maxLength]="15"
                                    [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="contactno" formControlName="contactno">
                                </ngx-intl-tel-input>
                                <div *ngIf="submitted && f.contactno.errors" class="invalid-feedback">
                                    <div *ngIf="f.contactno.errors.required">Contact number is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate>Email</label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="email" placeholder="ex: example@gmail.com" type="text" value="" (keyup)="keyupFunction($event)" [ngClass]="{ 'is-invalid': submitted && f.email.errors,'langSubmit': langCondition}">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate>Website</label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="website" placeholder="http://www.domainname.com" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate>Address</label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="add1" placeholder="{{'Street_address' | translate}}" type="text" value="" [ngClass]="{ 'is-invalid': submitted && f.add1.errors }">
                                <div *ngIf="submitted && f.add1.errors" class="invalid-feedback">
                                    <div *ngIf="f.add1.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label form-control-label"></label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="add2" placeholder="{{'Street_address_line' | translate}}" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'subscribClass':!subscribClass }">
                            <label class="col-lg-2 col-form-label form-control-label"></label>
                            <div class="col-lg-5 mb-2">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}" placeholder="{{ 'Choose_Country' | translate }}" formControlName="country" (change)="changeCity($event)" name="country" [searchable]="true" [clearable]="true" [(ngModel)]="country"  [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                    <ng-option *ngFor="let countryrow of countrylist" [value]="countryrow.cn_id">
                                        {{countryrow.cn_desc}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                    <div *ngIf="f.country.errors.required">Country is required</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}" placeholder="{{'Choose_city' | translate}}" formControlName="city" (change)="changeArea($event)"  (keyup)="getcity($event)" name="city" [searchable]="true" [clearable]="true" [(ngModel)]="city">
                                    <ng-option *ngFor="let cityrow of citylist" [value]="cityrow.city_id">
                                        {{cityrow.city_desc}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'subscribClass':!subscribClass }">
                            <div class="col-lg-5"></div>
                            <label class="col-lg-2 col-form-label form-control-label"></label>
                            <div class="col-lg-5">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}" placeholder="{{'Choose_area' | translate}}" formControlName="area" (keyup)="getArea($event)" name="area" [searchable]="true" [clearable]="true" [(ngModel)]="area">
                                    <ng-option *ngFor="let arearow of arealist" [value]="arearow.area_id">
                                        {{arearow.area_desc}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Type_of_business</label>
                            <div class="col-lg-5 mb-2" >
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{'Choose_business' | translate}}" formControlName="business_type" (keyup)="getbusiness($event,'AC')" name="business_type" [searchable]="true" [clearable]="true" [(ngModel)]="business_type" [ngClass]="{ 'is-invalid': submitted && f.business_type.errors }">
                                    <ng-option *ngFor="let businesrow of businesslist" [value]="businesrow.id">
                                        {{businesrow.desc_new}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="submitted && f.business_type.errors" class="invalid-feedback">
                                    <div *ngIf="f.business_type.errors.required">Business is required</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{'Choose_service_reg' | translate}}" (ngModelChange)="onChangeService($event)" (keyup)="getservice($event)"   name="service_id" [searchable]="true" [clearable]="true" multiple="true" [(ngModel)]="service_id" [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': submitted && f.service_id.errors }">
                                    <ng-option *ngFor="let servicerow of servicelist" [value]="servicerow.id">
                                        {{servicerow.desc_new}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="submitted && f.service_id.errors" class="invalid-feedback">
                                    <div *ngIf="f.service_id.errors.required">Service is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate>Add_New_Service</label>
                            <div class="col-lg-10">
                                <tag-input placeholder="{{'Add_New_Service' | translate}}" secondaryPlaceholder="{{'Add_New_Service' | translate}}" [(ngModel)]="tagservice"
                                        (onFocus)="onSelect()"     
                                        [ngModelOptions]="{standalone: true}"
                                        [modelAsStrings]="true">
                                </tag-input>
                                <div class="dev-caution" translate=""><span>*</span>Use_Enter_Key_to_add_tag</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Password</label>
                            <div class="col-lg-5 mb-2">
                                <input class="form-control form-control-sm passwordFont" formControlName="password" placeholder="{{'Password' | translate}}" type="text" value="" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors || submitted && f.password.errors,'langSubmit': langCondition }" />
                                <div *ngIf="f.password.errors && f.password.touched || submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <input class="form-control form-control-sm passwordFont" formControlName="retypepassword" placeholder="{{'Retype_Password' | translate}}" type="text" [ngClass]="{ 'is-invalid': f.retypepassword.touched && f.retypepassword.errors || submitted && f.retypepassword.errors,'langSubmit': langCondition }"  value="" />
                                <div *ngIf="f.retypepassword.touched && f.retypepassword.errors || submitted && f.retypepassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.retypepassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.retypepassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">About_us</label>
                            <div class="col-lg-10">
                                <textarea rows="5" formControlName="remarks" placeholder="{{'Express_you_services' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" class="form-control form-control-sm"></textarea>
                                <div *ngIf="submitted && f.remarks.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f.remarks.errors.required">Remarks is required</div>
                                    <div *ngIf="f.remarks.errors.maxlength">Maximum remarks 350</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <h4 translate="">Choose_any_of_our_subscription_plan</h4>
                            </div>
                        </div>
                        <div *ngFor="let subscrirow of subscrilist;let i = index" [ngClass]="{'subscribClass':!subscribClass}" class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check" [ngClass]="{ 'langSubmit': langCondition }" >
                                    <input class="form-check-input" name="{{dynamicname[i]}}" value="{{subscrirow.id}}" (change)="getcheckValue($event,'B')" type="checkbox">
                                    <label class="form-check-label" for="gridCheck1">
                                        {{subscrirow.desc_new}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="langChange" class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" [(ngModel)]="saveOtherLang" formControlName="saveOtherLang"
                                        (click)="saveOtherlangEvn($event)" type="checkbox">
                                    <label class="form-check-label langOther">
                                        {{saveContent}} {{lang_name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" [ngModelOptions]="{standalone: true}" (click)="agreeRadion($event)" [(ngModel)]="Agree" type="radio" name="Agree">
                                    <label class="form-check-label" for="gridRadios1" translate="">
                                        I_agree_with_the_terms_and_condition_and_accept_them
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row originalSubmit">
                            <div class="col-sm-10">
                                <button type="submit" [disabled]="agreeCheck" [disabled]="disabledButton" class="btn btn-primary btn-sm" [innerHTML]="buttonConfirm" translate="">Register_Now</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-danger btn-sm" (click)="backPage()" translate="">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div [ngClass]="{'active show':individubool}" class="tab-pane fade dev-busi-pad pt-3 pb-3" id="individual" role="tabpanel" aria-labelledby="individual-tab">
                    <form id="submitIndividual" (keydown.enter)="$event.preventDefault()" [formGroup]="individualForm" (ngSubmit)="submitIndividual(individualForm.value)">
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label" translate="">Person_Name</label>
                            <div class="col-lg-5 mb-2">
                                <input class="form-control form-control-sm" formControlName="first_name" type="text" placeholder="{{'First_name' | translate}}" [ngClass]="{ 'is-invalid': insubmitted && i.first_name.errors }" value="">
                                <div *ngIf="insubmitted && i.first_name.errors" class="invalid-feedback">
                                    <div *ngIf="i.first_name.errors.required">First Name is required</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <input class="form-control form-control-sm" formControlName="last_name" type="text" placeholder="{{'Last_name' | translate}}" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Type_of_Profession</label>
                            <div class="col-lg-5 businessprnt mb-2">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{'Choose_business' | translate}}" formControlName="business_type" (keyup)="getbusiness($event,'AC')" name="ind_business_type" [searchable]="true" [clearable]="true" [(ngModel)]="ind_business_type" [ngClass]="{ 'is-invalid': insubmitted && i.business_type.errors }">
                                    <ng-option *ngFor="let businesrow of businesslist" [value]="businesrow.id">
                                        {{businesrow.desc_new}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="insubmitted && i.business_type.errors" class="invalid-feedback">
                                    <div *ngIf="i.business_type.errors.required">Profession is required</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{'Choose_Gender' | translate}}" formControlName="gender" name="gender" [searchable]="true" [clearable]="true" [(ngModel)]="gender">
                                    <ng-option translate="" value="M">
                                        Male
                                    </ng-option>
                                    <ng-option translate="" value="F">
                                        Female
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Contact_number</label>
                            <!-- <div class="col-lg-1 dev-pd-r0 mb-2">
                                <input class="form-control form-control-sm" [(ngModel)]="contactcode" formControlName="contactcode" placeholder="{{'Code' | translate}}" type="text" value="">
                            </div> -->
                            <div class="col-lg-10">
                                <!-- <input class="form-control form-control-sm" (keyup)="keyupmethod('I')" formControlName="contactno" placeholder="{{'Phone_number' | translate}}" type="text" [ngClass]="{ 'is-invalid': insubmitted && i.contactno.errors }" value="">
                                <div *ngIf="insubmitted && i.contactno.errors" class="invalid-feedback">
                                    <div *ngIf="i.contactno.errors.required">Contact number is required</div>
                                </div> -->
                                <ngx-intl-tel-input [cssClass]="'custom'" (keyup)="keyupmethod('I')" [preferredCountries]="preferredCountries"
                                    [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectedCountryISO]="CountryISO.Kuwait"
                                    [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [maxLength]="15" [separateDialCode]="separateDialCode"
                                    [numberFormat]="PhoneNumberFormat.National" name="contactno" formControlName="contactno">
                                </ngx-intl-tel-input>
                                <div *ngIf="insubmitted && i.contactno.errors" class="invalid-feedback">
                                    <div *ngIf="i.contactno.errors.required">Contact number is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Email</label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="email" placeholder="ex: example@gmail.com" type="text" value="" [ngClass]="{ 'is-invalid': insubmitted && i.email.errors,'langSubmit': langCondition }" >
                                <div *ngIf="insubmitted && i.email.errors" class="invalid-feedback">
                                    <div *ngIf="i.email.errors.required">Email is required</div>
                                    <div *ngIf="i.email.errors.pattern">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Website</label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="website" placeholder="http://www.domainname.com" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Address</label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="add1" placeholder="{{'Street_address' | translate}}" type="text" value="" [ngClass]="{ 'is-invalid': insubmitted && i.add1.errors }">
                                <div *ngIf="insubmitted && i.add1.errors" class="invalid-feedback">
                                    <div *ngIf="i.add1.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label form-control-label"></label>
                            <div class="col-lg-10">
                                <input class="form-control form-control-sm" formControlName="add2" placeholder="{{'Street_address_line' | translate}}" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'subscribClass':!subscribClass }">
                            <label class="col-lg-2 col-form-label form-control-label"></label>
                            <div class="col-lg-5 mb-2">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{ 'Choose_Country' | translate }}" formControlName="country" (change)="changeCity($event)" name="ind_country" [searchable]="true" [clearable]="true" [(ngModel)]="ind_country" [ngClass]="{ 'is-invalid': submitted && i.country.errors }">
                                    <ng-option *ngFor="let countryrow of countrylist" [value]="countryrow.cn_id">
                                        {{countryrow.cn_desc}}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <div class="col-lg-5">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{'Choose_city' | translate}}" formControlName="city" (change)="changeArea($event)" (keyup)="getcity($event)" name="ind_city" [searchable]="true" [clearable]="true" [(ngModel)]="ind_city">
                                    <ng-option *ngFor="let cityrow of citylist" [value]="cityrow.city_id">
                                        {{cityrow.city_desc}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'subscribClass':!subscribClass }">
                            <div class="col-lg-5"></div>
                            <label class="col-lg-2 col-form-label form-control-label"></label>
                            <div class="col-lg-5 areaprnt">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{'Choose_area' | translate}}" formControlName="area" (keyup)="getArea($event)" name="ind_area" [searchable]="true" [clearable]="true" [(ngModel)]="ind_area">
                                    <ng-option *ngFor="let arearow of arealist" [value]="arearow.area_id">
                                        {{arearow.area_desc}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row businessprnt">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Type_of_Service</label>
                            <div class="col-lg-10 serviceprnt">
                                <ng-select notFoundText="{{ 'No_Item_Found' | translate }}"  placeholder="{{'Choose_service_reg' | translate}}" (ngModelChange)="onChangeService($event)" (keyup)="getservice($event)" name="ind_service_id" [searchable]="true" [clearable]="true" multiple="true" [(ngModel)]="ind_service_id" [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': submitted && i.service_id.errors }">
                                    <ng-option *ngFor="let servicerow of servicelist" [value]="servicerow.id">
                                        {{servicerow.desc_new}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Add_New_Service</label>
                            <div class="col-lg-10">
                                <tag-input placeholder="{{'Add_New_Service' | translate}}" secondaryPlaceholder="{{'Add_New_Service' | translate}}" [(ngModel)]="tagservice"
                                        (onFocus)="onSelect()"                            
                                        [ngModelOptions]="{standalone: true}"
                                        [modelAsStrings]="true">
                                </tag-input>
                                <div class="dev-caution" translate=""><span>*</span>Use_Enter_Key_to_add_tag</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">Password</label>
                            <div class="col-lg-5 mb-2">
                                <input class="form-control form-control-sm passwordFont" formControlName="password" placeholder="{{'Password' | translate}}" type="text" value="" [ngClass]="{ 'is-invalid': i.password.touched && i.password.errors || submitted && i.password.errors,'langSubmit': langCondition }" >
                                <div *ngIf="i.password.touched && i.password.errors || submitted && i.password.errors" class="invalid-feedback">
                                    <div *ngIf="i.password.errors.required">Password is required</div>
                                    <div *ngIf="i.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <input class="form-control form-control-sm passwordFont" formControlName="retypepassword" placeholder="{{'Retype_Password' | translate}}" type="text" [ngClass]="{ 'is-invalid': i.retypepassword.touched && i.retypepassword.errors || submitted && i.retypepassword.errors,'langSubmit': langCondition }"  value="">
                                <div *ngIf="i.retypepassword.touched && i.retypepassword.errors || submitted && i.retypepassword.errors" class="invalid-feedback">
                                    <div *ngIf="i.retypepassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="i.retypepassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label [ngClass]="'lab-pad'" class="col-lg-2 col-form-label form-control-label" translate="">About_us</label>
                            <div class="col-lg-10">
                                <textarea rows="5" formControlName="remarks" placeholder="{{'Express_you_services' | translate}}" [ngClass]="{ 'is-invalid': submitted && i.remarks.errors}" class="form-control form-control-sm"></textarea>
                                <div *ngIf="submitted && i.remarks.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="i.remarks.errors.required">Remarks is required</div>
                                    <div *ngIf="i.remarks.errors.maxlength">Maximum remarks 350</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10"> 
                                <h4 translate="">Choose_any_of_our_subscription_plan</h4>
                            </div>
                        </div>
                        <div *ngFor="let subscrirow of subscrilist;let i = index" [ngClass]="{'subscribClass':!subscribClass}" class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check" [ngClass]="{ 'langSubmit': langCondition }">
                                    <input class="form-check-input" value="{{subscrirow.id}}" (click)="getcheckValue($event,'I')" name="{{dynamicname[i]}}" type="checkbox">
                                    <label class="form-check-label" for="gridCheck1">
                                        {{subscrirow.desc_new}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="langChange" class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" [(ngModel)]="saveOtherLang" formControlName="saveOtherLang"
                                        (click)="saveOtherlangEvn($event)" type="checkbox">
                                    <label class="form-check-label langOther">
                                        {{saveContent}} {{lang_name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" [ngModelOptions]="{standalone: true}" (click)="agreeRadion($event)" [(ngModel)]="Agree" type="radio" name="Agree">
                                    <label class="form-check-label" for="gridRadios1" translate="">
                                        I_agree_with_the_terms_and_condition_and_accept_them
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row originalSubmit">
                            <div class="col-sm-10">
                                <button type="submit" [disabled]="agreeCheck" [disabled]="disabledButton" class="btn btn-primary btn-sm" [innerHTML]="buttonConfirm" translate="">Register_Now</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-danger btn-sm" (click)="backPage()" translate="">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-4">
            <app-sidepanel (imageBaseurl)="childImagemitter($event)" [isiShown]="isiShown" [isbShown]="isbShown" [CaptionName]="CaptionName" [businessProf]="bCaptionName"></app-sidepanel>
            <!-- <div class="col-10 mb-3"></div> -->
            <div class="row">
                <div class="col-sm-12 duplicateSubmit mt-3 mb-3">
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="agreeCheck" [disabled]="disabledButton" [attr.form]="bindForm" [innerHTML]="buttonConfirm" translate="">Register_Now</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-sm" (click)="backPage()" translate="">Cancel</button>
                </div>
            </div>
            <!-- <div class="col-12 dev-pd-lf">
                <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage=''">{{ successMessage }}</ngb-alert>
                <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                    <h6 translate="">Already_have_to_account_please_login</h6>
                    <div class="form-group">
                        <input class="form-control form-control-sm" formControlName="email" [(ngModel)]="email" name="email" placeholder="{{'Email' | translate}}" type="text" [ngClass]="{ 'is-invalid': loginsubmit && lg.email.errors }"  value="">
                        <div *ngIf="loginsubmit && lg.email.errors" class="invalid-feedback">
                            <div *ngIf="lg.email.errors.required">Email id is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm" formControlName="password" type="password" placeholder="{{'Password' | translate}}" [ngClass]="{ 'is-invalid': loginsubmit && lg.password.errors }"  value="">
                        <div *ngIf="loginsubmit && lg.password.errors" class="invalid-feedback">
                            <div *ngIf="lg.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1" translate="">
                            Remember_Me
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn rounded btn-block btn-primary" translate="">Login_now</button>
                    </div>
                </form>
                <div class="form-group text-center">
                    <a href="" data-toggle="modal" data-target="#forgotModel" translate="">Forget_password</a>
                </div>
            </div> -->
        </div>
    </div>
</div>