.nav-img{
    width: 26px;
    margin: 0px auto;
}
.nav-text{
    width: 100%;
    line-height: 1.1;
}
.lab-pad{
    padding-right: 5px;
}
.dev-busi-pad{
    font-size: 13px;
}
.lab-pad-ind{
    padding-right: 4px;
    padding-left: 4px;
}
.dev-radius{
    border-radius: 0px;
}

.dev-pd-lf{
    padding-left: 38px;
    margin-top: 10px;
}
.originalSubmit{ display: block; }
.duplicateSubmit{ 
    display: none; 
    
}
.langSubmit{
    color:black;
    pointer-events: none;
    background:#d9d9d9;
}
.subscribClass{
    display:none;
}
.langOther{
    font-weight: bold;
    cursor: pointer;
}
.langOther:hover{
    text-decoration: underline;
}
@media (max-width: 800px) { 
    .originalSubmit{ display: none; }
    .duplicateSubmit{ display: block; }
    .dev-pd-lf{ padding-left: 0px; }
    .dev-pd-r0{
        padding-right: 4%;
    }
}

@media (max-width: 420px) { 
    .dev-pd-r0{
        padding-right: 4%;
    }
}


 @font-face { 
     font-family: "password-mask"; 
     src: url('/assets/fonts/dotsfont.woff2') format("woff2"); } 
    .passwordFont { font-family: password-mask; font-size-adjust: 0.4; user-select: none; } 
    .passwordFont::placeholder { font-family: initial; }