<div class="container-fluid">
    <div class="row pt-3 pb-3 bg-lightblue dev-white">
        <div class="col-6 pd-left">
            <div class="row pt-3 justify-content-start rounded bg-darkblue">
                <div class="col">
                    <h5 class="text-center">What are you looking for</h5>
                    <form>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="profession" name="profession" class="form-control" id="profession"
                                placeholder="Professions / Services">
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="country" name="country" class="form-control" id="country"
                                placeholder="Country">
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="area" name="area" class="form-control" id="area"
                                placeholder="Area">
                        </div>
                        <div class="form-group">
                            <a (click)="searchClick()" type="submit" class="btn btn-primary">Search Now</a>
                            <a [routerLink]="['explore']" type="submit" class="btn btn-primary float-right">Advance Search</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6 pd-both">
            <div class="mb-2">
                <h5 class="mb-6 mb-3">Smart Seach</h5>
            </div>
            <div class="mb-5">
                <p>Consectetur adipisicing elite sed do eiusmod tempor incididunt ut labore dolor.</p>
            </div>
            <div class="col">
                <div class="float-right mb-3">
                    if you are Company : <button type="submit"
                        class="btn text-center btn-sm dev-butsize bg-darkblue dev-color text-right">Express Your <br>
                        Services</button>
                </div>
            </div>
            <div class="col">
                <div class="float-right">
                    if you are an Individual : <button type="submit"
                        class="btn btn-sm text-center dev-butsize bg-darkblue dev-color text-right">Express Your <br>
                        Job</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mr-2 ml-2">
        <div class="col mr-2">
            <div class="col text-center">
                <h3>Business</h3>
            </div>
            <div *ngFor="let busirow of business;" class="row pb-3 mb-2 border border-dark">
                <div class="col-1">Image</div>
                <div class="col-9">
                    <h4 class="text-center">{{busirow.org_type}}</h4>
                    <p class="m-0">{{busirow.remarks}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col text-center">
                <h3>Individuals</h3>
            </div>
            <div *ngFor="let indivirow of individual;" class="row pb-3 mb-2 border border-dark">
                <div class="col-1">Image</div>
                <div class="col-9">
                    <h4 class="text-center">{{indivirow.org_type}}</h4>
                   <p class="m-0">{{indivirow.remarks}}</p> 
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col border border-dark p-5">
            <h2>AD</h2>
        </div>
        <div class="col border border-dark p-5">
            <h2>AD</h2>
        </div>
        <div class="col border border-dark p-5">
            <h2>AD</h2>
        </div>
    </div>
</div>