<div class="container bg-darkblue">
    <div class="row ml-1 mr-1 pt-3 dev-white">
        <div class="col">
            <a routerLink=""><img class="dev-logo" src="assets/image/logo.png"></a>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li class="">Privacy Policy</li>
                <li class="">Terms & Condition</li>
                <li class="">FAQ</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li class="">Our Story</li>
                <li class="">Vision & Mission</li>
                <li class="">Contact Us</li>
            </ul>
        </div>
    </div>
</div>