.dev-logo{
    max-width: 140px;
    display: inline-block;
}
.dev-img{
    width: 100%;
}
.dev-red-color{
    width: 14.5%;
    padding: 5px;
    background-color: red;
}
.dev-yellow-color{
    width: 14.2%;
    padding: 5px;
    background-color: yellow;
}
.dev-min{
    min-width: 80px !important;
    font-size: 14px;
}
.dev-min a{
    padding:1px 8px 1px 10px;
    cursor: pointer;
}
.dev-btn-bg{
    background: white;
    color: black;
}
.dev-green-color{
    width: 14.2%;
    padding: 5px;
    background-color: green;
}
.dev-blue-color{
    width: 14.2%;
    padding: 5px;
    background-color: blue;
}
.dev-lightblue-color{
    width: 14.2%;
    padding: 5px;
    background-color: rgb(88, 98, 240);
}
.dev-exp-w{
    width: 7em;
    margin-bottom: 0px;
    color: blue;
    padding: 6px 4px 7px 4px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    vertical-align: top;
    border-color: #0952ff !important;
}
.dev-menu{
    text-align: right;
}
.dev-tp{
    margin-top: 1em;
}
.dev-btn{
    border-color: rgb(63, 126, 225);
    color: blue;
    padding-bottom: 6px;
    padding-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.dev-block{
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}
.dev-butn{
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 4px;
}
.buttonCreate{
    border:1px solid #055ee4;
    min-width: 99px;
    cursor: pointer;
    color: blue;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.premiumClass{
    width:15px;
    height:15px;
    position: relative;
    right: 2px;
}
.logoClass{
    width:100px;
    height:50px;
}
.modalShow{
    opacity: 0.5;
    z-index: 8;
    background: black;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
.endLine{
    display: block;
    font-size: 14px;
}
.dev-li{
    background: #fff;
    color:#4f4747;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.dev-li li:first-letter{
    text-transform: capitalize;
}
.dev-li li{
    list-style-type: none;
}
.dev-divPrnt{
    /* background: #black; */
    border-radius: 14px;
    /* color: white; */
}
.fa-check{
    color: green;
    font-size: 13px;
}
.dev-bodyBg{
    background: #cbeeff;
}
.fa-times{
    color: red;
    font-size: 13px;
}
.currentCaption{
    position: absolute;
    top: 0%;
    left: 31%;
    transform: translate(50%, -75%);
    background: #fdfdfd;
    padding: 5px;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.upcomingCaption{
    position: absolute;
    top: 33%;
    left: 30%;
    transform: translate(45%, -50%);
    background: #fdfdfd;
    padding: 5px;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.pastCaption{
    position: absolute;
    top: 73%;
    left: 33%;
    transform: translate(50%, -75%);
    background: #fdfdfd;
    padding: 5px;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.dev-mrtp-1{
    margin-top:7px;
}
.dev-mrtp-2{
    margin-top:1.6em;
}
.dev-mrtp-3{
    margin-top:1.7em;
}
@media (max-width: 800px) { 
    .dev-menu{ text-align: justify; }
    .dev-logo{ margin-top: 22px; }
    .dev-btn-bg{ margin-bottom: 2px;margin-left: 12px; }
    .modal-title{ padding-left: 7em; }
}
@media (max-width: 480px) { 
    .dev-menu{ text-align: justify; }
    .dev-logo{ margin-top: 35px; }
    .dev-tp{ margin-top: 2em; }
    .dev-btn-bg{ margin-bottom: 2px;margin-left: 120px; }
    .modal-title{ padding-left: 3em; }
    /* .currentCaption{ top:18%;}
    .upcomingCaption{ top:48%; }
    .pastCaption{ top:68%; } */
}