<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div *ngIf="isLoggedIn  | async" class="container">
    <div class="row mt-2">
        <div class="col-6">
            <div class="dev-logo">
                <a routerLink="">
                    <img class="dev-img" [src]="logoLang">
                </a>
            </div>
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-4 dev-tp dev-menu ar-right">
            <div class="dropdown buttonBottom dev-butn" >
                <div (click)="transulate(languageSet)" id="languageSet" class="buttonCreate">{{languageDrop}}</div>
            </div>
            <a type="button" *ngIf="condition; else elseBlock" (click)="joinUsClick()" class="dev-exp-w btn btn-sm border border-primary" translate="">Login</a>
            <ng-template #elseBlock>
                <a class="dropdown dev-block">
                    <button type="button" class="btn dev-btn dropdown-toggle" data-toggle="dropdown">
                        {{userName}}
                    </button>
                    <div class="dropdown-menu dev-min">
                        <a class="dropdown-item" [routerLink]="['editProfile']" translate=""><i class="fa fa-user" aria-hidden="true"></i> Edit_Profile</a>
                        <a class="dropdown-item" (click)="openPremium()" translate=""><img src="assets/image/premium.png" class="premiumClass" translate="">go_premium</a>
                        <a class="dropdown-item" (click)="openModal()" translate=""><img src="assets/image/premium.png" class="premiumClass"
                                translate="">My_Subscrb</a>
                        <a class="dropdown-item" (click)="logout()" translate=""><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                    </div>
                </a>
            </ng-template>
        </div>
    </div>
    <div class="row mb-2 mt-2">
        <div class="dev-red-color"></div>
        <div class="dev-yellow-color"></div>
        <div class="dev-green-color"></div>
        <div class="dev-blue-color"></div>
        <div class="dev-lightblue-color"></div>
        <div class="dev-red-color"></div>
        <div class="dev-yellow-color"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" [ngClass]="{'show': windowOpen === 'block'}" id="subscriptionModal" [ngStyle]="{'display':windowOpen}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center text-center">
                    <img src="assets/image/logo_en.png" class="logoClass">
                    <h6 class="modal-title" id="exampleModalLongTitle" translate="">Premium_Service_Packages</h6>
                    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body dev-bodyBg">
                    <div *ngIf="goPrimum; else defaultPrime" class="col-12 p-0 dev-divPrnt">
                        <ul class="dev-li dev-mrtp-1">
                            <li class="currentCaption">Current Subscription</li>
                            <li *ngFor="let currentData of currentSubr;let i = index"><i [ngClass]="currentClass ? 'fa fa-cog':''"></i>
                                {{currentData.us_desc}}
                                <span *ngIf="endsClass" class="endLine"><span translate="">plan_ends_at</span>
                                    {{currentData.us_upto_date}}</span>
                            </li>
                        </ul>
                        <ul class="dev-li dev-mrtp-2">
                            <li class="upcomingCaption">Upcoming Subscription</li>
                            <li *ngFor="let currentData of upcomingSubr;let i = index"><i [ngClass]="upcomingClass ? 'fa fa-cog':''"></i>
                                {{currentData.us_desc}}
                                <span *ngIf="endsClass" class="endLine"><span translate="">plan_ends_at</span>
                                    {{currentData.us_upto_date}}</span>
                            </li>
                        </ul>
                        <ul class="dev-li dev-mrtp-3">
                            <li class="pastCaption">Past Subscription</li>
                            <li *ngFor="let currentData of pastSubr;let i = index"><i [ngClass]="pastClass ? 'fa fa-cog':''"></i>
                                {{currentData.us_desc}}
                                <span *ngIf="endsClass" class="endLine"><span translate="">plan_ends_at</span>
                                    {{currentData.us_upto_date}}</span>
                            </li>
                        </ul>
                    </div>
                    <ng-template #defaultPrime>
                    <form [formGroup]="checkoutForm" id="submitPermium" (ngSubmit)="submitPermium(checkoutForm.value)">
                    <div class="col-12 p-0 dev-divPrnt">
                        <h6 [ngStyle]="{'text-align':'center','padding':'6px 0px 1px 0px','font-weight':'bold'}" translate="">My_Subscription</h6>
                        <ul class="dev-li">
                            <li *ngFor="let subscripData of subscriptionData;let i = index" ><i [ngClass]="endsClass ? 'fa fa-check':''"></i> {{subscripData.us_desc}}
                                <span *ngIf="endsClass" class="endLine"><span translate="">plan_ends_at</span> {{subscripData.us_upto_date}}</span>
                            </li>
                        </ul>
                    </div>
                    <p translate="">Choose_any_of_our_subscription_plan</p>
                    <div formArrayName="subscription" *ngFor="let subscrirow of subscrilist;let i = index" [ngClass]="{'subscribClass':!subscribClass}"
                        class="form-group row">
                        <div class="col-sm-12">
                            <div class="form-check" [ngClass]="{ 'langSubmit': langCondition }">
                                <input class="form-check-input"  value="{{subscrirow.id}}" (click)="getcheckValue($event)"
                                    type="checkbox">
                                <label class="form-check-label" for="gridCheck1">
                                    {{subscrirow.desc_new}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-secondary btn-sm dev-mr2" (click)="closeModal()">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Ok</button>
                    </div>
                    </form>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'modalShow': windowOpen === 'block'}"></div>