<div class="bg-lightblue dev-white">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-sm-12 col-md-6 col-lg-5 pd-2">
                <div class="col pt-3 pb-2 rounded bg-darkblue">
                    <!-- <div class="col"> -->
                        <h5 translate class="text-center">What_are_you_looking_for</h5>
                        <form>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="profession" name="profession" class="form-control" id="profession"
                                    placeholder="{{ 'Professions_Services' | translate }}">
                            </div>
                            <div class="form-group">
                                <ng-select placeholder="{{ 'Choose_Country' | translate }}" bindLabel="countrylist" bindValue="countrylist" notFoundText="{{ 'No_Item_Found' | translate }}"  (change)="getArea($event,'A')" name="country" [searchable]="true" [clearable]="true" [(ngModel)]="country">
                                    <ng-option *ngFor="let countryrow of countrylist" [value]="countryrow.cn_id">
                                        {{countryrow.cn_desc}}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <div class="form-group areaprnt">
                                <ng-select placeholder="{{ 'Choose_Area' | translate }}" notFoundText="{{ 'No_Item_Found' | translate }}" (keyup)="getArea($event,'')" name="area" [searchable]="true" [clearable]="true" [(ngModel)]="area">
                                    <ng-option *ngFor="let arearow of arealist" [value]="arearow.id">
                                        {{arearow.desc}}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <div class="form-group dev-flex">
                                <a (click)="searchClick($event,'S')" [routerLink]="['explore']" type="submit" class="btn btn-primary dev-rigth ar-rigth" translate>Search_Now</a>
                                <a (click)="searchClick($event,'A')" [routerLink]="['explore']" type="submit" class="btn btn-primary" translate>Advance_Search</a>
                            </div>
                        </form>
                    <!-- </div> -->
                </div>
            </div>
            <!-- <div class="col-sm-0 col-md-0 col-lg-1"></div> -->
            <div class="col-sm-12 col-md-6 col-lg-7 pd-both">
                <div class="mb-2">
                    <h5 translate class="mb-6 mb-3">Smart_Search</h5>
                </div>
                <div class="mb-5">
                    <p translate>Shrekat_is_built_to_search_smart_and_fastest_in_providing_your_search_results</p>
                </div>
                <div class="dev-col mb-3">
                    <span style="display: inline-block;min-width: 10em;" translate>If_you_are_company</span> : <button type="submit" [routerLink]="['joinus']" (click)="routeparam('B')" class="btn text-center btn-sm dev-butsize bg-darkblue dev-color text-right" translate>Express_Your_Services</button>
                </div>
                <div class="dev-col">
                    <span style="display: inline-block;min-width: 10em;" translate>If_you_are_an_Individual</span> : <button type="submit" [routerLink]="['joinus']" (click)="routeparam('A')" class="btn btn-sm text-center dev-butsize bg-darkblue dev-color text-right" translate>Express_Your_Job</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 dev-pd-lng dev-mb">
            <div class="col text-center">
                <h3 translate>Business</h3>
            </div>
            <div *ngFor="let searchrow of business;" class="row mb-2 border border-dark">
                <!-- <div class="col-2 pt-3"><img class="w-100" [src]="busirow.image"></div>
                <div class="col-10 dev-minH">
                    <h4 class="text-center dev-pdr">{{busirow.display_name}}</h4>
                    <p class="m-0">{{busirow.remarks}}</p>
                </div>
                <div class="dev-link">
                    <button type="button" data-toggle="modal" (click)="getModel(busirow.portfolio)" data-target="#PortfolioModel" class="btn btn-primary float-right btn-sm" translate="">Portfolio</button>
                </div> -->
                <div class="dev-panel rounded">
                    <div class="col-12 dev-pd-0">
                        <div class="dev-setFlex">
                            <div class="dev-img-div rounded-circle">
                                <img class="w-100 dev-src rounded-circle" [src]="searchrow.image">
                            </div>
                            <div class="dev-left-data">
                                <div class="rounded"><span
                                        class="border dev-pd dev-radius rounded dev-tag">{{searchrow.display_name}}</span>
                                </div>
                            <div class="rounded"><span
                                    class="border dev-pd dev-radius rounded dev-tag">{{searchrow.org_type}}</span><span
                                    class="border dev-pd dev-tag rounded dev-radius">{{searchrow.business_type}}</span>
                            </div>
                            </div>
                        </div>
                        <div class="dev-block pl-2 mt-2" [ngClass]="(acitveClass)? 'dev-mx-h':'dev-dynm-h'">
                            <h5>{{searchrow.remarks | slice:0:100}}</h5>
                            <div class="dev-serive">
                                <p class="dev-pag dev-lett" translate="">Serives_Provided</p>
                                <span *ngFor="let servicerow of searchrow.service"
                                    class="dev-tag border dev-radius-cornor dev-tag-pd">{{servicerow.service_name}}</span>
                            </div>
                        </div>
                        <div class="dev-block-btm pl-2">
                            <ul class="list-unstyled">
                                <li class="input-group">
                                    <p class="dev-pag"><i class="fa fa-phone" aria-hidden="true"></i> {{searchrow.ph_no}}</p>
                                </li>
                                <li class="input-group">
                                    <p class="dev-pag"><i class="fa fa-envelope" aria-hidden="true"></i> {{searchrow.email| slice:0:20}}</p>
                                </li>
                                <li class="input-group">
                                    <p class="dev-pag"><i class="fa fa-map-marker" aria-hidden="true"></i> {{searchrow.area}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="dev-block-btm1 dev-port pl-2">
                            <button type="button" data-toggle="modal" (click)="getModel(searchrow.portfolio)" data-target="#PortfolioModel" class="btn btn-primary btn-sm" translate="">Portfolio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 dev-mb">
            <div class="col text-center">
                <h3 translate>Individual</h3>
            </div>
            <div *ngFor="let indivirow of individual;" class="row mb-2 border border-dark">
                <!-- <div class="col-2 pt-3"><img class="w-100" [src]="indivirow.image"></div>
                <div class="col-10 dev-minH">
                    <h4 class="text-center dev-pdr">{{indivirow.display_name}}</h4>
                   <p class="m-0">{{indivirow.remarks}}</p> 
                </div>
                <div class="dev-link"><button type="button" data-toggle="modal" data-target="#PortfolioModel" class="btn btn-primary float-right btn-sm" translate="">Portfolio</button></div> -->
                <div class="dev-panel rounded">
                    <div class="col-12 dev-pd-0">
                        <div class="dev-setFlex">
                            <div class="dev-img-div rounded-circle">
                                <img class="w-100 dev-src rounded-circle" [src]="indivirow.image">
                            </div>
                            <div class="dev-left-data">
                                <div class="rounded"><span
                                class="border dev-pd dev-radius rounded dev-tag">{{indivirow.display_name}}</span>
                                </div>
                                <div class="rounded"><span
                                class="border dev-pd dev-radius rounded dev-tag">{{indivirow.org_type}}</span><span
                                class="border dev-pd dev-tag rounded dev-radius">{{indivirow.business_type}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="dev-block pl-2 mt-2" [ngClass]="(acitveClass)? 'dev-mx-h':'dev-dynm-h'">
                            <h5>{{indivirow.remarks | slice:0:100}}</h5>
                            <div class="dev-serive">
                                <p class="dev-pag dev-lett" translate="">Serives_Provided</p>
                                <span *ngFor="let servicerow of indivirow.service"
                                    class="dev-tag border dev-radius-cornor dev-tag-pd">{{servicerow.service_name}}</span>
                            </div>
                        </div>
                        <div class="dev-block-btm pl-2">
                            <ul class="list-unstyled">
                                <li class="input-group">
                                <p class="dev-pag"><i class="fa fa-phone" aria-hidden="true"></i> {{indivirow.ph_no}}</p>
                                </li>
                                <li class="input-group">
                                <p class="dev-pag"><i class="fa fa-envelope" aria-hidden="true"></i> {{indivirow.email| slice:0:20}}</p>
                                </li>
                                <li class="input-group">
                                <p class="dev-pag"><i class="fa fa-map-marker" aria-hidden="true"></i> {{indivirow.area}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="dev-block-btm1 dev-port pl-2">
                            <button type="button" data-toggle="modal" (click)="getModel(searchrow.portfolio)" data-target="#PortfolioModel"
                                class="btn btn-primary btn-sm" translate="">Portfolio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col border border-dark p-5">
            <h2>AD</h2>
        </div>
        <div class="col border border-dark p-5">
            <h2>AD</h2>
        </div>
        <div class="col border border-dark p-5">
            <h2>AD</h2>
        </div>
    </div>
    <div class="modal" id="PortfolioModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" translate="">Portfolio_Detail</h5>
              <button type="button" class="close dev-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <iframe class="embed-responsive-item" style="width: 100%;height: 30em;" [src]="showPdf" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" translate="">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>