@import url("../explore/explore.component.css");
.dev-pdr{
    padding-right: 5em;
}
.dev-minH{
    height: 135px !important;   
    text-overflow: ellipsis;
    overflow: hidden; 
}
.dev-col{
    display: inline-block;
    width: 100% !important;
}
.pd-both{
    padding-left: 12em;
    padding-right: 8em;
}
.dev-bn-col{
    color: black;
}
.dev-flex{
    display: flex;
}
.pd-left{
    padding-left: 4em;
}
.dev-link{
    position: relative;
    float: right;
    width: 100%;
    display: block;
    margin-right: 7px;
}
.dev-mini{
    min-height: 12em;
}
@media (max-width: 768px) { 
    .pd-both{ padding: 0px 0px 0px 22px }
    .pd-left{ padding-left: 2em }
}
@media (max-width: 1000px) { 
    .pd-both{ padding: 0px 0px 0px 22px }
    .pd-left{ padding-left: 2em }
}
@media (max-width: 420px) { 
    .dev-mb{ margin: 0px 6px 0px 6px; }
    .dev-dynm-h{ height: auto !important;}
}


/* < explore page css > */
.dev-container{
    min-height: 554px;
}
.dev-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.dev-linebtn{
    width: 46px;
    border: none;
    background: white;
    overflow: hidden;
}
.dev-img-div{
    width: 100px;
}
.dev-dirtn{
    direction: ltr;
    display: inline-block;
}
.dev-setFlex{
    display: flex;
    width: 100%;
    height: 6em;
    margin: 4px 0px 0px 4px;
}
.dev-linetop{
    background: white;
    height: 4px;
    margin-bottom: 3px;
    display: block;
}

.showActive{
    background: rgb(1, 1, 148) !important;
    border-color: blue !important;
}
.showActive .dotbtn{
    background: white;
}
.dotbtn {
    width: 4px;
    height: 4px;
    background: rgb(117, 115, 115);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    margin:2px 2px auto;
}
.dev-shap-btn{
    width: calc(2em + -2px);
    line-height: 1px;
    height: calc(2em + -1px);
    padding: 2px;
    border: 1px solid #d8cfcf;
}
.dev-underine{
    text-decoration: underline;
}
.dev-bgcolor{
    background: #d9f2ee;
}
.dev-ml-8{
    margin:0.5em 40em 0.5em 0em;
}
.dev-block{
    display: block;
    width:100%;
}
.dev-block-btm{
    display: inline-block;
    width:70%;
}
.dev-block-btm1{
    display: inline-block;
    width:30%;
}
.dev-port{
    vertical-align: middle;
    text-align: right;
    padding-right: 16px;
}
.dev-pag{
    display: inline-block;  
}
.dev-tag{
    display: inline-block;  
    background-color: rgb(155, 234, 245);
}
.dev-serive{
    width: 100%;  
}
.dev-pd{
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 3px;
    line-height: 1.1;
    margin-left: 2px;
}
.dev-mx-h{
    padding-bottom: 14px;
}
.dev-dynm-h{
    height: 9em;
    padding-bottom: 14px;
}
.dev-left-data{
    width: 100%;
    display: block;
    padding-left: 12px;
}
.dev-tag-pd{
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 3px;
    line-height: 1.1;
    margin-left: 2px;
}
.dev-radius-cornor{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.dev-lett{
    font-weight: 600;
}
.dev-pag{
    margin-bottom: 4px;
}
.dev-group{
    display: flex;
}
.dev-card{
    display: flex;
}
.dev-pipeline{
    height: 17px;
    border-right: 1px solid black;
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.dev-pd-0{
    padding:0px !important;
}
.dev-ml-2{
    margin-left: 4px !important;
    margin-right: 4px !important;
}
.dev-pdr-1{
    padding-right: 0px !important;
    padding-left: 6px !important;
}
.dev-panel{
    display: flex;
    padding:6px;
    width: 100%;
    margin: 0 !important;
}
.dev-line-btn{
    background: #ababab;
}
.dev-button{
    box-shadow: 1px 2px 2px 0px #bab9b9;
    cursor: pointer;
    
}
.dev-src{
    height: 100%;
}
.showDefault{
    max-height: 69px;
    overflow: hidden;
    margin: 0px;
    font-size: 15px;
    font-weight: normal;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.dev-atag{  
    cursor: pointer;
    color: #2e2eff;
}
.showpara{
    overflow: auto;
}

/* < explore page css > */
