.dev-borwser{
    display:flex
}
.dev-img{
    display: block;
    width: 100%;
}
.dev-img img{
    height: 230px !important;
}
.dev-side{
    display: block;
    width: 50%;
    overflow: hidden;
}
.dev-color{
    font-size: 14px;
}
.dev-color input[type="file"] {
    color:white;
}
.dev-font{
    font-size: 14px;
}
.dev-border-cir{
    border-radius: 3%;
    overflow: hidden;
}
.dev-head-bg{
    background-color: #48ccff4f;
    /* color:white; */
}