.bg-lightblue{
    background-color: #4D79FF;
}
.bg-darkblue{
    background-color: #002699;
}
.dev-white{
    color:white;
}
.pd-left{
    padding-left: 4em;
}
.pd-both{
    padding-left: 8em;
    padding-right: 8em;
}
.dev-color{
    color:white;
    line-height: 1.1;
    font-size: 11px;
}
.dev-butsize{
    width: 8em;
}
.dev-pad0{
    padding:0;
}
.container1{
    max-width: 1200px;
}