@import "~@ng-select/ng-select/themes/default.theme.css";
.bg-lightblue{
    background-color: #4D79FF;
}
.bg-darkblue{
    background-color: #002699;
}
.bg-darkblue a{
    color: white;
}
.dev-white{
    color:white;
}

.dev-color{
    color:white;
    line-height: 1.1;
    font-size: 11px;
}
.dev-butsize{
    width: 8em;
}
.dev-pad0{
    padding:0;
}
.container1{
    max-width: 1200px;
}
.dev-container{
    min-height: 548px;
}
.pageContent{
    word-wrap: anywhere;
}

.sortClass .ng-select .ng-select-container{
    min-height: 10px !important;
}

.sortClass .ng-select.ng-select-single .ng-select-container{
    height: 31px !important;
}