.nav-img{
    width: 26px;
    margin: 0px auto;
}
.nav-text{
    width: 100%;
    line-height: 1.1;
}
.lab-pad{
    padding-right: 5px;
}
.dev-busi-pad{
    font-size: 13px;
}
.lab-pad-ind{
    padding-right: 4px;
    padding-left: 4px;
}