<div class="container bg-darkblue">
    <div class="row ml-1 mr-1 pt-3 dev-white">
        <div class="col-md-6 col-lg-4 justify-content-center" style="display: flex;">
            <a class="dev-foot-img" routerLink=""><img class="dev-logo" [src]="logoLang"></a>
        </div>
        <div class="col-md-6 col-lg-4 justify-content-center" style="line-height: 2.5em;display: flex;">
            <ul class="list-unstyled">
                <li class=""><a class="dev-foot-img" routerLink="privacy" translate>Privacy_Policy</a></li>
                <li class=""><a class="dev-foot-img" routerLink="terms" translate>Terms_Condition</a></li>
                <li class=""><a class="dev-foot-img" routerLink="faq" translate>FAQ</a></li>
            </ul>
        </div>
        <div class="col-md-6 justify-content-center col-lg-4" style="line-height: 2.5em;display: flex;">
            <ul class="list-unstyled">
                <li class=""><a class="dev-foot-img" routerLink="ourstory" translate>Our_Story</a></li>
                <li class=""><a class="dev-foot-img" routerLink="visionmission" translate>Vision_Mission</a></li>
                <li class=""><a class="dev-foot-img" routerLink="contactus" translate>Contact_Us</a></li>
            </ul>
        </div>
    </div>
</div>