<div class="container-fluid dev-container dev-bgColor">
  <form id="submitBusiness" (keydown.enter)="$event.preventDefault()" [formGroup]="newPassword"
    (ngSubmit)="activeLogin ? null : submitBusiness(newPassword.value)">
    <div class="row justify-content-center">
      <div class="col-md-3 border p-3 rounded dev-bg-inColor">
        <div class="col-lg-12 text-center dev-logo-img">
          <img class="dev-img" src="assets/image/logo_en.png">
        </div>
        <div *ngIf="redirectContent;else otherSetBlk" class="col-12">
          <p class="">Password is updated successfully <a href="javascript:void(0);" (click)="getLoginPage();">Login</a>
            to continue.</p>
        </div>
        <ng-template #otherSetBlk>
          <div class="col-lg-12 text-center">
            <h5 *ngIf="activeLogin" class="pb-3">Login</h5>
            <div *ngIf="activePassword">
              <h5>Create new password</h5>
              <p>Password will update to your profile,once you confirm it</p>
            </div>
            <div *ngIf="elseContent">
              <h5>Reset Password</h5>
              <p>Please enter your registered email address to request a password reset.</p>
            </div>
          </div>

          <div *ngIf="EmailValidation" class="col-12">
            <p class="alert alert-success">
              {{showWindowMessage}}
            </p>
          </div>
          <div *ngIf="loginActive" class="col-lg-12 mb-2 input-group">
            <input *ngIf="isActive;else otherContent" class="form-control dev-input form-control-sm"
              placeholder="{{(signUpActive) ? 'email id' :'password' | translate}}" [(ngModel)]="emilIdLogin"
              type="{{(signUpActive) ? 'text' :'password'}}" [ngClass]="{ 'is-invalid': submitted && f.user_password.errors }"  formControlName="user_password" value="">
            <span *ngIf="isActive" [innerHTML]="faiconLogin" class="dev-insideIcon"></span>
            <div *ngIf="submitted && f.user_password.errors" class="invalid-feedback">
              <div *ngIf="f.user_password.errors.required">Password is required</div>
              <div *ngIf="f.user_password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <ng-template #otherContent>
              <input class="form-control dev-input form-control-sm" placeholder="{{'Password' | translate}}" type="text"
                value="">
              <span class="dev-insideIcon"><i class="fa fa-user"></i></span>
            </ng-template>
          </div>
          <div class="col-lg-12 input-group">
            <span style="width: 100%;" *ngIf="contentActive else otherBlock">
              <input class="form-control dev-input form-control-sm"
                [placeholder]="(activePlace)? 'password' :'Register email address' | translate"
                [(ngModel)]="getMailValue" [ngModelOptions]="{standalone: true}"
                [type]="(activePlace)?'password':'text'">
              <span class="dev-insideIcon" [innerHTML]="faIconHtml"></span>

            </span>
            <ng-template #otherBlock>
              <input class="form-control dev-input form-control-sm" formControlName="confirmPassword"
                placeholder="{{'Confirm Password' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" type="password" value="">
              <span class="dev-insideIcon"><i class="fa fa-lock"></i></span>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </ng-template>
          </div>
          <div *ngIf="forgotActive" class="col-lg-12 dev-font-size">
            <ul class="list-inline dev-ul">
              <!-- Remember me -->
              <li class="list-inline-item"><a class="dev-null" href="javascript:void(0);"></a></li>
              <li class="list-inline-item"><a (click)="forgotPassword();" class="dev-null"
                  href="javascript:void(0);">Forgot Password</a></li>
            </ul>
          </div>
          <div class="col-lg-12 dev-pt">
            <button type="activeLogin ? button : submit" (click)="activeLogin ? createNewPassword() : null" *ngIf="loginActive" class="btn btn-primary btn-sm btn-block"
              translate="">{{LoginCaption}}</button>
            <button (click)="signUp();" *ngIf="signUpActive"
              class="btn btn-primary btn-sm btn-block">{{ signCaption }}</button>
          </div>
        </ng-template>
      </div>
    </div>
  </form>
</div>