.dev-bgColor{
    background-color: #b5b5b5;
    position: fixed;
    height: 100%;
}
.dev-bg-inColor{
    background-color: white;
    box-shadow: 4px 4px 4px #737373;
    margin: 9.8% auto;
    padding-top: 25px !important;
    padding-bottom: 6em !important;
}
.dev-img{
    max-width: 140px;
}
.dev-logo-img{
    padding:0% 12% 10% 12%;
}
.dev-pt{
    padding-top: 3%;
}
.dev-font-size{
    font-size: 12px;
}
.dev-ul li:nth-child(2){
    float: right;
}
.dev-input{
    padding-right: 26px;
}
.dev-insideIcon{
    display: table-cell;
    position: absolute;
    right: 20px;
    top: 1px;
    z-index: 10;
}
.dev-null{
    text-decoration: none;
    color: black;
}
.dev-null:hover{
    color:blue;
    text-decoration: underline;
}