<div class="container-fluid dev-container dev-bgColor">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-scale" [fullScreen]="true">
      <p style="color: white">Loading... </p>
  </ngx-spinner>
  <form id="submitBusiness" (keydown.enter)="$event.preventDefault()" [formGroup]="newPassword"
    (ngSubmit)="activeLogin ? null : submitBusiness(newPassword.value)">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-6 col-lg-3 border p-3 rounded dev-bg-inColor">
        <div class="col-lg-12 text-center dev-logo-img">
          <a href="javascript:void(0);" *ngIf="goBack" class="dev-back" (click)="gobackMain();"><img class="dev-img" src="assets/image/goback.png"></a>
          <a  href="javascript:void(0);" (click)="goHomePage();" ><img class="dev-img" [src]="logoLang"></a>
        </div>
        <div [ngStyle]="{'display': registerBlock ? 'none' : 'inherit'}" *ngIf="redirectContent;else otherSetBlk" class="col-12">
          <p class="" translate="">
            Password_is_updated_successfully<a href="javascript:void(0);" (click)="getLoginPage();" translate="">Login</a>
            to_continue
          </p>
        </div>
        <ng-template #otherSetBlk>
          <div class="col-lg-12 text-center">
            <h5 *ngIf="activeLogin" class="pb-3"></h5>
            <div *ngIf="activePassword">
              <h5 translate="">Create_new_password</h5>
              <p translate="">Password_will_update_to_your_profile,once_you_confirm_it</p>
            </div>
            <div *ngIf="elseContent" class="sliderRegister">
              <h5></h5>
              <p translate="">Please_enter_your_registered_email_address_to_request_a_password_reset</p>
            </div>
          </div>
          <div *ngIf="EmailValidation" class="col-12">
            <p class="alert alert-success">
              {{showWindowMessage}}
            </p>
          </div>
          <div *ngIf="loginActive" class="col-lg-12 mb-2 input-group">
            <input *ngIf="isActive;else otherContent" class="form-control dev-input form-control-sm"
              placeholder="{{ (signUpActive ? 'Email' :'Password') | translate}}" [(ngModel)]="emilIdLogin"
              type="{{(signUpActive) ? 'text' :'Password'}}" [ngClass]="{ 'is-invalid': submitted && f.user_password.errors }"  formControlName="user_password" value="">
            <span *ngIf="isActive" [innerHTML]="faiconLogin" class="dev-insideIcon"></span>
            <div *ngIf="submitted && f.user_password.errors" class="invalid-feedback">
              <div *ngIf="f.user_password.errors.required">Password is required</div>
              <div *ngIf="f.user_password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <ng-template #otherContent>
              <input class="form-control dev-input form-control-sm" placeholder="{{'Password' | translate}}" type="text"
                value="">
              <span class="dev-insideIcon"><i class="fa fa-user"></i></span>
            </ng-template>
          </div>
          <div class="col-lg-12 input-group" [ngClass]="{'sliderRegister':!activePlace}">
            <span style="width: 100%;" *ngIf="contentActive else otherBlock">
              <input class="form-control dev-input form-control-sm"
                placeholder="{{ (activePlace ? 'Password' :'Register_email_address') | translate }}"
                [(ngModel)]="getMailValue" [ngModelOptions]="{standalone: true}"
                [type]="(activePasswrd)? 'password':'text'" (keyup.enter)="(activePasswrd) ? createNewPassword() : null">
              <span class="dev-insideIcon" (click)="(activePlace) ? securePassowrd():''" [innerHTML]="faIconHtml"></span>
            </span>
            <ng-template #otherBlock>
              <input class="form-control dev-input form-control-sm" formControlName="confirmPassword"
                placeholder="{{'Confirm_Password' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" type="password" value="">
              <span class="dev-insideIcon"><i class="fa fa-lock"></i></span>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </ng-template>
          </div>
          <div *ngIf="forgotActive" class="col-lg-12 dev-font-size">
            <ul class="list-inline dev-ul">
              <!-- Remember me -->
              <li class="list-inline-item"><a class="dev-null" href="javascript:void(0);"></a></li>
              <li class="list-inline-item"><a (click)="forgotPassword();" class="dev-null"
                  href="javascript:void(0);" translate="">Forgot_Password</a></li>
            </ul>
          </div>
          <div [ngClass]="{sliderRegister: signCaption==='R','col-lg-12 dev-pt':true}">
            <button type="activeLogin ? button : submit" (click)="activeLogin ? createNewPassword() : null" *ngIf="loginActive" class="btn btn-primary btn-sm btn-block">{{ (LoginCaption=='L' ? 'Login':'New_Password') | translate}}</button>
            <button (click)="signUp();" *ngIf="signUpActive"
              class="btn btn-primary btn-sm btn-block" >{{ (signCaption=='S' ? 'Sign_Up':'Reset_Password') | translate }}</button>
          </div>
        </ng-template>
        <div class="col-12 sliderRegister" *ngIf="registerBlock">
            <div class="animation">
              <div class="col-12 text-center pb-5 dev-log-font" >
                  <!-- <span (click)="backSign();" class="dev-bak"><i class="fa fa-arrow-circle-left"></i></span> -->
                  <span translate="">REGISTER_YOURSELF</span>
              </div>
              <button (click)="registerBack('B');" translate="" class="btn btn-primary mb-4 btn-sm btn-block">Business</button>
              <button (click)="registerBack('A');" translate="" class="btn btn-primary btn-sm btn-block">Individual</button>
            </div>
        </div>
      </div>
    </div>
  </form>
</div>