.dev-bgColor{
    background-color: #b5b5b5;
}
.dev-bg-inColor{
    background-color: white;
    box-shadow: 4px 4px 4px #737373;
    margin: 12.1% auto;
    padding-top: 25px !important;
}
.dev-img{
    max-width: 140px;
}
.dev-logo-img{
    padding:0% 12% 24% 12%;
}
.dev-pt{
    padding-top: 13%;
}
.dev-input{
    padding-right: 26px;
}
.dev-insideIcon{
    display: table-cell;
    position: absolute;
    right: 18px;
    top: 5px;
    z-index: 10;
}