<span *ngIf="isbShown; then businessTemplate"></span>
<span *ngIf="isiShown; then individualTemplate"></span>
<ng-template #businessTemplate>
<div class="row">
    <div class="col-12 dev-pd-lf mb-3">
        <div class="border dev-border-cir">
            <div class="d-block dev-head-bg border p-1">
                <h6><span translate="">Business_Logo</span> - JPG/PNG/SVN</h6>
            </div>
            <div class="d-block pt-2 pr-2 pl-2 pb-2">
                <div class="dev-img text-center">
                    <a href="javascript: void(0);" *ngIf="LogoUrl">
                        <img class="img-fluid" [src]="LogoUrl">
                    </a>
                </div>
                <div class="dev-borwser">
                    <a class="dev-side" href="javascript: void(0);">Remove image</a>
                    <a class="dev-side dev-color mt-1" href="javascript: void(0);"><input type="file" (change)="fileProgress($event,'LB')"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 dev-pd-lf">
        <div class="border dev-border-cir">
            <div class="d-block dev-head-bg border p-1">
                <h6>Portfolio - PDF</h6>
            </div>
            <div class="d-block pt-2 pr-2 pl-2 pb-3">
                <div class="dev-img text-center">
                    <a href="javascript: void(0);" *ngIf="previewUrl">
                        <!-- <img class="img-fluid" [src]="previewUrl"> -->
                        <iframe style="width: 100%;border: none;" [src]="previewUrl"></iframe>
                    </a>
                </div>
                <div class="dev-borwser">
                    <a class="dev-side" href="javascript: void(0);">Remove image</a>
                    <a class="dev-side dev-color mt-1" href="javascript: void(0);"><input type="file" accept="application/pdf" (change)="fileProgress($event,'PB')"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>
<ng-template #individualTemplate>
<div class="row">
    <div class="col-12 dev-pd-lf mb-3">
        <div class="border dev-border-cir">
            <div class="d-block dev-head-bg border p-1">
                <h6><span translate="">Individual_Logo</span> - JPG/PNG/SVG</h6>
            </div>
            <div class="d-block pt-2 pr-2 pl-2 pb-3">
                <div class="dev-img text-center">
                    <a href="javascript: void(0);" *ngIf="previewUrl_P_I">
                        <img class="img-fluid" [src]="previewUrl_P_I">
                    </a>
                </div>
                <div class="dev-borwser">
                    <a class="dev-side" href="javascript: void(0);">Remove image</a>
                    <a class="dev-side dev-color mt-1" href="javascript: void(0);"><input type="file" (change)="fileProgress($event,'LI')"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 dev-pd-lf">
        <div class="border dev-border-cir">
            <div class="d-block dev-head-bg border p-1">
                <h6>Portfolio - PDF</h6>
            </div>
            <div class="d-block pt-2 pr-2 pl-2 pb-3">
                <div class="dev-img text-center">
                    <a href="javascript: void(0);" *ngIf="previewUrl_L_I">
                        <!-- <img class="img-fluid" [src]="previewUrl"> -->
                        <iframe style="width: 100%;border: none;" [src]="previewUrl_L_I"></iframe>
                    </a>
                </div>
                <div class="dev-borwser">
                    <a class="dev-side" href="javascript: void(0);">Remove image</a>
                    <a class="dev-side dev-color mt-1" href="javascript: void(0);"><input type="file" accept="application/pdf" (change)="fileProgress($event,'PI')"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>
